.top-bar {
  padding: 1.5rem 0;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  width: 100%;
  position: fixed;
  background: #a9d;
  top: 0;
  left: 0;
  z-index: 10;
}

.get-cat {
  border: 1px solid black;
  border-radius: 0.5rem;
  background: #c9f;
  padding: 2rem 10rem;
  margin-left: 5%;
  width: 90%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.get-cat:hover {
  background: #d9f;
}

#main {
  padding-top: 5rem;
  padding-left: 1rem;
  position: absolute;
  top: -13rem;
  left: 0;
  background: #a9d;
  margin-top: 20rem;
  display: flex;
  gap: 2rem;
  flex-flow: row wrap;
  min-width: 99vw;
  min-height: 85vh;
}

.cat-pic {
  height: 16rem;
  border-radius: 1rem;
  border: 4px solid black;
}

.cat-link:hover {
  opacity: 70%;
}
